<section class="about section-odd" id="about">
  <div class="about-img">
    <img
      src="./img/profilePhotoRounded.png"
      alt="Profile photo"
      loading="lazy"
    />
  </div>
  <div class="about-info">
    <h2>Hi, i'm <strong>Renato</strong>!</h2>
    <br />
    <p>
      <strong>Software developer</strong> from
      <span title="Uruguay">&#x1F1FA;&#x1F1FE;</span>, based in
      <span title="Argentina">&#x1F1E6;&#x1F1F7;</span>.
    </p>
    <br />
    <p>
      Currently working as a <i>Tech Implementation Analyst</i> at
      <a href="https://onetree.com/" target="_blank">Onetree</a> while finishing
      my last year at university as a <i>Systems Analyst</i>.
    </p>
    <br />
    <p>
      You can read more about my education and experience on my
      <a
        href="https://www.linkedin.com/in/renato-corbellini-99155a175/"
        target="_blank"
        >LinkedIn profile</a
      >, or download my CV from the button below.
    </p>
    <br />
    <br />
    <button class="btn" aria-label="Download curriculum vitae">
      <a
        href="./files/renatoCorbelliniCVENG.pdf"
        download="Renato Corbellini CV"
        >download cv <i class="fa fa-light fa-download"></i
      ></a>
    </button>
    <button
      class="btn-terciary"
      id="linkedIn-about"
      aria-label="Visit LinkedIn profile"
    >
      <a
        href="https://www.linkedin.com/in/renato-corbellini-99155a175/"
        target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </button>
  </div>
</section>
