<body>
  <main class="main">
    <app-about></app-about>
    <!-- Projects Section -->
    <section class="section-even" id="projects">
      <div class="projects">
        <h2>Projects</h2>
        <div class="flex-container">
          <div class="project-card">
            <h3>Sofya</h3>
            <br />
            <p>
              A unique and stylish clothing boutique that caters exclusively to
              women.
            </p>
            <br />
            <p>
              Created with <i style="color: rgb(37, 36, 34)">Angular</i> and
              <i style="color: rgb(37, 36, 34)">Bootstrap</i> templates.
            </p>
            <br />
            <button
              class="btn btn-secondary"
              aria-label="Visit Free Code Camp solution site"
            >
              <a href="https://sofya-store.vercel.app/home" target="_blank"
                >visit site <i class="fa fa-light fa fa-link"></i
              ></a>
            </button>
            <button
              class="btn-terciary"
              aria-label="Visit Github project repository"
            >
              <a href="https://github.com/7Rena7/sofya-store" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </button>
            <img src="img/sofya.png" width="150" height="100" />
          </div>
          <div class="project-card">
            <h3><i>FreeCodeCamp</i> JavaScript Challenges</h3>
            <br />
            <p>
              My solutions to the challenges presented in the final section of
              the
              <a
                href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/"
                target="_blank"
                ><i
                  ><strong
                    >JavaScript Algorithms and Data Structures Course</strong
                  ></i
                ></a
              >.
            </p>
            <br />
            <p>
              Some of this challenges include a
              <strong>Roman Numeral Converter</strong>,
              <strong>Caesars Cipher</strong>
              and a
              <strong>US Telephone Number Validator</strong>.
            </p>
            <br />
            <button
              class="btn btn-secondary"
              aria-label="Visit Free Code Camp solution site"
            >
              <a href="https://fcc-challenges.vercel.app/" target="_blank"
                >visit site <i class="fa fa-light fa fa-link"></i
              ></a>
            </button>
            <button
              class="btn-terciary"
              aria-label="Visit Github project repository"
            >
              <a href="https://github.com/7Rena7/fcc-challenges" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- My Stack -->
    <section class="section-odd" id="skills">
      <div class="stack">
        <h2>My Stack</h2>
        <h4>Known Technologies</h4>
        <div class="tech-card">
          <figure class="tech-item">
            <img src="./img/html-logo.png" alt="HTML logo" loading="lazy" />
            <figcaption>HTML 5</figcaption>
          </figure>
          <figure class="tech-item">
            <img src="./img/css-logo.png" alt="CSS logo" loading="lazy" />
            <figcaption>CSS 3</figcaption>
          </figure>
          <figure class="tech-item">
            <img
              src="./img/javascript-logo.png"
              alt="JavaScript logo"
              loading="lazy"
            />
            <figcaption>JavaScript</figcaption>
          </figure>
          <figure class="tech-item">
            <img src="./img/sql-logo.png" alt="SQL logo" loading="lazy" />
            <figcaption>SQL</figcaption>
          </figure>
          <figure class="tech-item">
            <img src="./img/git-logo.png" alt="Git logo" loading="lazy" />
            <figcaption>GIT</figcaption>
          </figure>
        </div>
        <h4>Learning</h4>
        <div class="tech-card">
          <figure class="tech-item">
            <img src="./img/react-logo.png" alt="React logo" loading="lazy" />
            <figcaption>React</figcaption>
          </figure>
        </div>
      </div>
    </section>
  </main>
  <!-- Footer -->
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__row">
        <div class="footer__col">
          <h4>Sections</h4>
          <ul>
            <li><a href="#about">about</a></li>
            <li><a href="#projects">projects</a></li>
            <li><a href="#stack">stack</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Social media</h4>
          <button class="btn-terciary" aria-label="Visit LinkedIn profile">
            <a
              href="https://www.linkedin.com/in/renato-corbellini-99155a175/"
              target="_blank"
            ></a
            ><i class="fab fa-linkedin-in"></i>
          </button>
          <button class="btn-terciary" aria-label="Visit Github profile">
            <a href="https://github.com/7Rena7" target="_blank"></a
            ><i class="fab fa-github"></i>
          </button>
        </div>
      </div>
    </div>
  </footer>
  <div class="credits">
    <p>Developed with HTML, CSS and Javascript vanilla</p>
  </div>

  <script type="module" src="./main/index.js" async defer></script>
</body>
