<header class="header">
  <div class="logo-container">
    <a href="#about" class="logo-caption"><strong>renato</strong>corbellini</a>
  </div>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a href="#about">about</a></li>
      <li class="nav-item"><a href="#projects">projects</a></li>
      <li class="nav-item"><a href="#experience">experience</a></li>
      <li class="nav-item"><a href="#skills">education</a></li>
      <li class="nav-item"><a href="#skills">certifications</a></li>
      <li class="nav-item"><a href="#skills">contact</a></li>
    </ul>
  </nav>
</header>
